{
	email ${ACME_EMAIL}
	admin off
}

(security_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		X-XSS-Protection "0"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}

${DOMAIN} {
	import security_headers

	root * /usr/share/caddy

	@assets path *.webp *.css *.js
	header @assets Cache-Control "public, max-age=31536000, immutable"
	header Content-Security-Policy "default-src 'none'; style-src 'self'; script-src 'self'; img-src 'self'; font-src 'self'; base-uri 'none'; form-action 'none'; frame-ancestors 'none';"

	file_server {
		precompressed br gzip
	}
}

${REDIR_LIST} {
	redir https://${DOMAIN} permanent
}

mta-sts.${DOMAIN} {
	import security_headers
	@mta-sts path /.well-known/mta-sts.txt
	respond @mta-sts `${MTA_STS_TXT}` 200
	header @mta-sts Content-Type "text/plain; charset=utf-8"
}
