[Unit]
Description=Restrict GCP metadata access to root
Documentation=man:nft(8)
Wants=network-pre.target
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/nft -f /usr/share/nftables/metadata-guard.nft
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
