[Unit]
Description=PostgreSQL 18 (experiments user)
After=network.target

[Container]
Image=docker.io/library/postgres:18-alpine
ContainerName=postgres
AutoUpdate=registry

Network=postgres.network:ip=10.89.0.10
PublishPort=127.0.0.1:5432:5432

Volume=/var/lib/postgres/experiments:/var/lib/postgresql:Z
Volume=/usr/share/postgres/postgresql.conf:/etc/postgresql/postgresql.conf:ro
Volume=/usr/share/postgres/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
Tmpfs=/var/lib/postgresql/data

Environment=POSTGRES_DB=experiments
Environment=POSTGRES_USER=experiments
Environment=POSTGRES_HOST_AUTH_METHOD=trust

Exec=postgres -c config_file=/etc/postgresql/postgresql.conf -c hba_file=/etc/postgresql/pg_hba.conf

[Service]
Restart=always

[Install]
WantedBy=default.target
