[Unit]
Description=Initial system setup (bootc + Secureblue)
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
