[Unit]
Description=Enable and start rootless user services
After=multi-user.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/user-services.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
