[Unit]
Description=Enable and start rootless user services
After=multi-user.target network-online.target user@1000.service user@1001.service
Wants=network-online.target user@1000.service user@1001.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/user-services.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
