<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} — {{ site.Title }}{{ end }}</title>
  <meta name="description" content="{{ site.Params.description }}">
  {{ $style := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
  {{ $email := resources.Get "js/email.js" | minify | fingerprint }}
  <script src="{{ $email.RelPermalink }}" integrity="{{ $email.Data.Integrity }}" defer></script>
  {{ $nav := resources.Get "js/nav.js" | minify | fingerprint }}
  <script src="{{ $nav.RelPermalink }}" integrity="{{ $nav.Data.Integrity }}" defer></script>
</head>
<body>
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
</body>
</html>
