[Unit]
Description=Tailscale node agent
Wants=network-pre.target
After=network-pre.target systemd-resolved.service

[Service]
Type=notify
DynamicUser=yes
ExecStart=/usr/bin/tailscaled --tun=userspace-networking --state=/var/lib/tailscale/tailscaled.state --socket=/run/tailscale/tailscaled.sock --port=41641
Restart=on-failure
RuntimeDirectory=tailscale
RuntimeDirectoryMode=0755
StateDirectory=tailscale
StateDirectoryMode=0700
CacheDirectory=tailscale
CacheDirectoryMode=0750

# DynamicUser implies ProtectSystem=strict, PrivateTmp, NoNewPrivileges, RemoveIPC.
ProtectHome=true
ProtectProc=invisible
ProtectClock=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectHostname=true
PrivateIPC=true
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
RestrictRealtime=true
SystemCallFilter=@system-service
SystemCallArchitectures=native
PrivateDevices=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
